config ADC_MCUX_EDMA
	bool "MCUX ADC-EDMA driver"
	default y
	depends on DMA_MCUX_EDMA

menu "ADC calibration"
	visible if ADC_MCUX_EDMA

config ADC_MCUX_EDMA_CAL_R
	bool "Repeated ADC calibration"
	default n

config ADC_MCUX_EDMA_CAL_R_SAMPLES
	int "Number of repeated ADC calibrations"
	default 40
	depends on ADC_MCUX_EDMA_CAL_R

endmenu