#### SOC
CONFIG_SOC_MK64F12=y
CONFIG_SOC_SERIES_KINETIS_K6X=y

#### System peripherals
CONFIG_ARM_MPU=y

#### Clock
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=120000000
CONFIG_CORTEX_M_SYSTICK=y
CONFIG_OSC_EXTERNAL=y
# The reference clock output of the Ethernet PHY
CONFIG_OSC_XTAL0_FREQ=50000000
CONFIG_MCG_PRDIV0=0x13
CONFIG_MCG_VDIV0=0x18
CONFIG_MCG_FCRDIV=1

#### CMSIS
CONFIG_CMSIS_DSP=y
CONFIG_CMSIS_DSP_FASTMATH=y

#### Other peripherals
CONFIG_GPIO=y
CONFIG_PINMUX=y
CONFIG_SERIAL=y
CONFIG_SPI=y
CONFIG_ADC=y
CONFIG_DAC=y
CONFIG_PWM=y
CONFIG_DMA=y
CONFIG_COUNTER=y
CONFIG_EEPROM=y
CONFIG_INPUT_CAPTURE=y
CONFIG_ADC_TRIGGER=y

CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# Peripheral drivers
CONFIG_PINMUX_MCUX_PORTA=y
CONFIG_PINMUX_MCUX_PORTB=y
CONFIG_PINMUX_MCUX_PORTC=y
CONFIG_PINMUX_MCUX_PORTD=y
CONFIG_PINMUX_MCUX_PORTE=y
CONFIG_DMA_MCUX_EDMA=y
CONFIG_COUNTER_MCUX_PIT=y
CONFIG_ADC_TRIGGER_MCUX_FTM=y
CONFIG_ADC_TRIGGER_MCUX_LPTMR=y
CONFIG_EEPROM_M95080=y

#### Libraries
CONFIG_NEWLIB_LIBC=y
CONFIG_BCB_LIB=y
CONFIG_BCB_DRIVERS=y