# BCB_V1 board

# Copyright (c) 2020, Blixt Tech AB.
# SPDX-License-Identifier: Apache-2.0

if BOARD_BCB_V1

config BOARD
    default "bcb_v1"

# This 50 MHz coming from the reference clock output of the Ethernet PHY 
config OSC_XTAL0_FREQ
    default 50000000

config MCG_PRDIV0
    default 0x13

config MCG_VDIV0
    default 0x18

config MCG_FCRDIV
    default 1

if PINMUX_MCUX

config PINMUX_MCUX_PORTA
    default y

config PINMUX_MCUX_PORTB
    default y

config PINMUX_MCUX_PORTC
    default y

config PINMUX_MCUX_PORTD
    default y

config PINMUX_MCUX_PORTE
    default y

endif # PINMUX_MCUX


# We have to enable PWM  for input capture since NXP HAL adds fsl_ftm.c
# to the source files only if PWM is enabled.

config PWM
    default y

config INPUT_CAPTURE
    bool "Enable input capture"
    default y
    depends on PWM

config COUNTER_CTD
    bool "Enable count down counter"
    default y

if NETWORKING

config NET_L2_ETHERNET
    default y

config ETH_MCUX_0
    default y if NET_L2_ETHERNET

endif # NETWORKING

endif # BOARD_BCB_V1
