menuconfig BCB_LIB
	bool "BCB Library"
	default n
	depends on BCB_EXTENSIONS

if BCB_LIB
	rsource "Kconfig.lib"
	rsource "Kconfig.init"
	rsource "Kconfig.config"
	rsource "Kconfig.tc_def"
	rsource "Kconfig.coap"
endif # BCB_LIB