menuconfig BCB_TRIP_CURVE_DEFAULT
	bool "Default trip curve"
	default y

if BCB_TRIP_CURVE_DEFAULT
    config BCB_TRIP_CURVE_DEFAULT_SUPPLY_TIMER_TIMEOUT
        int "Time out for the supply detection timer in milliseconds"
        default 100

    config BCB_TRIP_CURVE_DEFAULT_SUPPLY_ZD_COUNT_MIN
        int "Minimum number of zero-cross detections for the supply detection step"
        default 8

    config BCB_TRIP_CURVE_DEFAULT_RECOVERY_TIMER_TIMEOUT
        int "Time out for the recovery timer in milliseconds"
        default 1

    config BCB_TRIP_CURVE_DEFAULT_MONITOR_INTERVAL
        int "Current monitoring interval for the default trip curve for DC in milliseconds"
        default 100

    config BCB_TRIP_CURVE_DEFAULT_MAX_POINTS
        int "Maximum number of configurable points for the default trip curve"
        default 16

endif # BCB_TRIP_CURVE_DEFAULT