menu "Persistent configurations"
	config BCB_LIB_PERSISTENT_CONFIG_OFFSET_IDENTITY
		int "Offset of the identity configurations"
		default 0

	config BCB_LIB_PERSISTENT_CONFIG_SIZE_IDENTITY
		int "Max size of the identity configurations"
		default 40

	config BCB_LIB_PERSISTENT_CONFIG_OFFSET_MSMNT
		int "Offset of the measurement configurations"
		default 40

	config BCB_LIB_PERSISTENT_CONFIG_SIZE_MSMNT
		int "Max size of the measurement configurations"
		default 160

	config BCB_LIB_PERSISTENT_CONFIG_OFFSET_BCB
		int "Offset of the breaker state configurations"
		default 200

	config BCB_LIB_PERSISTENT_CONFIG_SIZE_BCB
		int "Max size of the breaker state configurations"
		default 20

	config BCB_LIB_PERSISTENT_CONFIG_OFFSET_TRIP_CURVE_DEFAULT
		int "Offset of the default trip curve configurations"
		default 220
		depends on BCB_TRIP_CURVE_DEFAULT

	config BCB_LIB_PERSISTENT_CONFIG_SIZE_TRIP_CURVE_DEFAULT
		int "Max size of the default trip curve configurations"
		default 20

	config BCB_LIB_PERSISTENT_CONFIG_OFFSET_COAP
		int "Offset of the CoAP configurations"
		default 240

	config BCB_LIB_PERSISTENT_CONFIG_SIZE_COAP
		int "Max size of the CoAP configurations"
		default 20
endmenu