menuconfig BCB_DRIVERS
	bool "BCB Drivers"
	default n
	depends on BCB_EXTENSIONS

if BCB_DRIVERS

rsource "adc/Kconfig"
rsource "adc_trigger/Kconfig"
rsource "dma/Kconfig"
rsource "eeprom/Kconfig"
rsource "counter/Kconfig"
rsource "input_capture/Kconfig"

endif # BCB_DRIVERS