config INPUT_CAPTURE_MCUX_FTM
    bool "Enable the input capture driver"
    default y
    depends on INPUT_CAPTURE

config COUNTER_CTD_MCUX_PIT
    bool "Enable MCUX PIT driver"
    default y
    depends on COUNTER_CTD


config COUNTER_MCUX_PIT
    bool "MCUX PIT driver"
    default y
    depends on COUNTER_CTD_MCUX_PIT

config ADC_MCUX_EDMA
    bool "DMA based ADC driver"
    default y
    depends on DMA_MCUX_EDMA && ADC_MCUX_ADC16

config ADC_MCUX_EDMA_CAL_R
    bool "Enable/disable repeated ADC calibration"
    default n
    depends on ADC_MCUX_EDMA

config ADC_MCUX_EDMA_CAL_R_SAMPLES
    int "Number of repeated ADC calibrations"
    default 40
    depends on ADC_MCUX_EDMA_CAL_R

config DMA_MCUX_EDMA
    bool "Enable EDMA"
    default y

config ADC_MCUX_ADC16
    bool "MCUX ADC16 driver"
    default y

config CMP_MCUX
    bool "Enable Comparator"
    default y

config SPI_MCUX_DSPI
    default y

config EEPROM_M95080
    bool "Enable EEPROM M95080"
    default y
    depends on SPI_MCUX_DSPI
